.navigation-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;

    width: 300px;
    min-width: 300px;
    border-right: 1px solid #ccc;
}

.navigation-menu-item {
    padding: 1rem;
    border-top: 1px solid #ccc;
}

.navigation-menu-item:last-child {
    border-bottom: 1px solid #ccc;
}
